* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    padding: 20px 12%;
    color: white;
}

/* HEADER NAV */

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_links {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.header_links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.header_links li a:hover {
    font-size: 18px;
}

/* HEADER CONTENT */
.header_content {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.header_content_left, .header_content_right {
    width: 48%;
}

.header_content_left h1 {
    font-size: 42px;
    font-weight: 900;
}

.header_content_left p {
    width: 75%;
    font-size: 16px;
    font-weight: 500;
    color: rgb(212, 212, 212);
    margin: 8px 0 28px 0;
}

.header_content_left button {
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    padding: 8px 22px;
    color: white;
    font-weight: 700;
}

.header_content_right .content_right_img img {
    width: 100%;
}

/* INFO SECTION */